.EmployeeManager-header {
    background-color: #007bff;
    padding: 20px;
    color: white;
}

.EmployeeManager-title {
    font-size: 1.5em;
}

.EmployeeManager > .row {
    margin: 0;
}
.EmployeeForm, .EmployeeList {
    padding: 20px;
}
.EmployeeList .list-group-item {
    min-height: 50px;
}