body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.debug {
  font-family: 'Consolas';
  font-size: 12px;
  padding: 10px;
  margin: 10px 0;
  color: #212529;
  background-color: #f8f9fa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}